<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item>
            <ion-label>
              haha
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item>
            <ion-label>
              hihi
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              huhu
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>